### **Natural Language 2025**
## **P0: programming notes**

## **Part 1: Python basics**

Adapted from Fernando Batista and Ricardo Ribeiro (ISCTE) notebook, which was adapted from LxMLS [Python Introduction](https://github.com/luispedro/talk-python-intro) by Luis Pedro Coelho.<br>
Python was started in the late 80's. It has become one of the most widely used languages (check https://www.youtube.com/watch?v=qQXXI5QFUfw)

**USING THE NOTEBOOK**

There are cells of code and text.
There is a *single context* and it changes _as you execute cells_.

In [1]:
print("Hello World")

Hello World

In [2]:
a = 1
print(a)

1

In [3]:
a

1

When you really get confused, restart everything.

**BEFORE WE START**

*Python blocks are defined by indentation*<br>
Unlike almost all other modern programming languages, Python uses **indentation** to delimit blocks! (sometimes called the [off-side rule](https://en.wikipedia.org/wiki/Off-side_rule))
- you can use any number of spaces, but you should use *4 spaces*
- you can use TABs, but please don't

### 1.1 PYTHON TYPES

Basic types:
- Numbers (integers and floating point)
- Strings
- Lists and tuples
- Dictionaries and sets
- Booleans (True, False)

**NUMBERS**

In [4]:
a = 1
b = 2
c = 3
a + b * c

7

In [5]:
a = 1.2
b = 2.4
c = 3.6

a + b *c

9.84

... when mixing integers and floats, results are converted to floats ...

In [6]:
a = 2
b = 2.5
c = 4.4
a + b * c

13.0

... converting between types ...

In [7]:
int(7.3)

7

... just truncating and not rounding the number ...

In [8]:
int(7.8)

7

In [11]:
int(round(7.8, 0))

8

In [12]:
float(8)

8.0

Other operations:
- exponentiation: `a ** b`
- floating point division: `a / b`
- integer division: `a // b`
- remainder of integer division: `a % b`

In [13]:
a = 10
b = 3

print(a / b)
print(a // b)
print(a % b)

3.3333333333333335
3
1

**STRINGS**

In [14]:
first = 'John'
last = "Doe"
full = first + " " + last
full

'John Doe'

... we can easily obtain individual chars or substrings ...

In [15]:
print(full[0])      # gets the first char
print(full[0:3])    # gets chars from 0 to 2
print(full[-1])     # gets the last char
print(full[-2:])    # gets the last 2 chars

J
Joh
e
oe

Strings are immutable objects. It means that you can't change a string, you can only create a new one.<br>
They already have a set of pre-defined methods. We call a method with the `<object>.<method>()` syntax

In [16]:
name = "Mary Poppins"

In [17]:
"Pop" in name

True

... the `len` function can be applied to strings, lists, dictionaries, arrays, etc ...

In [18]:
len(name)

12

In [19]:
name.startswith("Mary")

True

... add a `?` at the end of an object or a method to get help inside the notebook ...

In [20]:
name.startswith?

Docstring:
S.startswith(prefix[, start[, end]]) -> bool

Return True if S starts with the specified prefix, False otherwise.
With optional start, test S beginning at that position.
With optional end, stop comparing S at that position.
prefix can also be a tuple of strings to try.
Type:      builtin_function_or_method

... short string literals are delimited by (`"`) or (`'`) and special characters can be inputted using escape sequences (`\n` for newline)  ...

In [21]:
print("Line 1\nLine 2\n")
print('Line 1\nLine 2\n')

Line 1
Line 2

Line 1
Line 2

We use a method called `format` to replace placeholders in a string. Placeholders are denoted by `{}`:

In [22]:
"Name: {}".format('John Smith')

'Name: John Smith'

In [23]:
print("My friend {} lives in {}".format('John Smith', 'Lisbon'))

My friend John Smith lives in Lisbon

You can also have numbers:

In [24]:
print("Name: {0}".format('John Smith'))
print("My friend {0} lives in {1}".format('John Smith', 'Lisbon'))
print("{0} lives in {1}, and {1} is in {2}".format('John Smith', 'Lisbon', 'Portugal'))

Name: John Smith
My friend John Smith lives in Lisbon
John Smith lives in Lisbon, and Lisbon is in Portugal

F-strings is a *new* style of formatting, even simpler. Use `f"string {variable}"`

In [25]:
name = "John Smith"
place = "Lisbon"
a = 1
b = 2
print(f"My friend {name} lives in {place} and {a} + {b} = {a + b}")

My friend John Smith lives in Lisbon and 1 + 2 = 3

... you should not use the old formatting style, yet you may still see it in old code ...

In [26]:
print("Name: %s" % 'John Smith')
print("My friend %s lives in %s" % ('John Smith', 'Lisbon'))

Name: John Smith
My friend John Smith lives in Lisbon

... ways of handling long strings ...

In [27]:
long = '''Tell me, is love
Still a popular suggestion
Or merely an obsolete art?

Forgive me, for asking,
This simple question,
I am unfamiliar with his heart.'''

In [28]:
print(long)

Tell me, is love
Still a popular suggestion
Or merely an obsolete art?

Forgive me, for asking,
This simple question,
I am unfamiliar with his heart.

**LISTS**

A python list is written with square brackets and commas. Elements can be acessed by their index

In [29]:
values = [3, 5, 7, 10]
print(values[0]) # <- first element
print(values[1]) # <- second element
print(values[-1]) # <- last element

3
5
10

In [30]:
print(values[0:2])
print(values[1:2])
print(values[-1])
print(len(values))

[3, 5]
[5]
10
4

List methods:
- `append(element)`
- `insert(position, element)`
- `remove(element)`

In [31]:
fruits = ["Pineapple", "Banana", "Apple"]
fruits.sort()
print(fruits)

['Apple', 'Banana', 'Pineapple']

In [32]:
fruits.append("Orange")
print(fruits)

['Apple', 'Banana', 'Pineapple', 'Orange']

In [33]:
fruits.append(123)
print(fruits)

['Apple', 'Banana', 'Pineapple', 'Orange', 123]

... you can even append other lists ...

In [34]:
numbers = [1,2,3]
fruits.append(numbers)
print(fruits)

['Apple', 'Banana', 'Pineapple', 'Orange', 123, [1, 2, 3]]

In [35]:
fruits[5]

[1, 2, 3]

Lists are mutable objects, so you can easily change a given element:

In [36]:
print(fruits)
fruits[4] = 7654
print(fruits)

['Apple', 'Banana', 'Pineapple', 'Orange', 123, [1, 2, 3]]
['Apple', 'Banana', 'Pineapple', 'Orange', 7654, [1, 2, 3]]

In [37]:
fruits[5][1] = 333
print(fruits)

['Apple', 'Banana', 'Pineapple', 'Orange', 7654, [1, 333, 3]]

**TUPLES**

Similar to lists, but *immutable*:

In [38]:
a = (3, 5, 7 , "hello", "goodbye")
a

(3, 5, 7, 'hello', 'goodbye')

In [39]:
a[1:4]

(5, 7, 'hello')

... remember that they are *immutable* ...

In [40]:
a[0] = 1

TypeError: 'tuple' object does not support item assignment

**DICTIONARIES**

In [41]:
emails = {
    'Luis' : 'luis@iscte.pt',
    'Rita' : 'rita@gmail.com',
}

print("Luis' email is {}".format(emails['Luis']))

Luis' email is luis@iscte.pt

In [42]:
emails['Pedro'] = 'pedro@gmail.com'  # <- add a new element
emails['Luis'] = 'luis@iscte-iul.pt' # <- replace an element

print(emails)

{'Luis': 'luis@iscte-iul.pt', 'Rita': 'rita@gmail.com', 'Pedro': 'pedro@gmail.com'}

In [43]:
len(emails)

3

In [44]:
emails.keys()

dict_keys(['Luis', 'Rita', 'Pedro'])

In [45]:
'Pedro' in emails

True

**NONE**

There is something called `None`. It's like a null pointer.

In [46]:
None

### 1.2 RANDOM NUMBERS

Random numbers generated through a computer program are called pseudo random.<br>
*numpy* offers the *random*from numpy import random module to generate pseudo random numbers.

In [10]:
from numpy import random

To replicate the sequences of generated numbers you can place a seed

In [25]:
random.seed(0)

Generate a random integer from 0 to 100

In [12]:
random.randint(100)

76

Generate a 5-length numpy array of integers

In [19]:
array = random.randint(100, size=(5))
array

array([97, 23, 53, 26, 53])

numpy arrays can be converted to simple lists

In [20]:
list(array)

[97, 23, 53, 26, 53]

Generate a random float from 0 to 1

In [15]:
random.rand()

0.26563984604067425

Generate a numpy matrix of random floats

In [22]:
random.rand(3, 5)

array([[0.3933434 , 0.59554445, 0.5165951 , 0.10225382, 0.97957922],
       [0.21967549, 0.44422095, 0.7424238 , 0.63576779, 0.33147146],
       [0.43030413, 0.28497521, 0.89444994, 0.51426073, 0.03431885]])

### 1.3 PYTHON CONTROL STRUCTURES

- `if`
- `while` loop
- `for` loop

**IF**

In [47]:
MIN_GRADE = 0.5
student = "Rita"
grade = 0.7

if grade > MIN_GRADE:
    print("{} passed".format(student))
    print("Congratulations")
else:
    print("{} needs to take the test again".format(student))

Rita passed
Congratulations

Syntax:

     if <condition>:
        <statement 1>
        <statement 2>
        <statement 3>
    <elif or else clauses>

In [48]:
a = 2
if a > 3:
    print("Greater than 3")
elif a > 2:
    print("Greater than 2")
elif a > 1:
    print("Greater than 1")
else:
    print("Kind of small")

Greater than 1

... conditions return booleans (either `True` or `False`) include:
- `a == b`
- `a != b`
- `a < b`
- `a > b`
- `a >= b` and `a <= b`
- `a in lst`
- `a not in lst`

In [49]:
a = 1
b = 2
print(a < b)
print(a == b)

True
False

... we can also use booleans as values ...

In [50]:
potato = True
if potato:
    print("Yep")

Yep

... many things can be evaluated as conditions:
  - lists (the empty list gets evaluated as `False`, otherwise `True`)
  - dicts (same)
  - strings (empty string evaluates to `False`, otherwise `True`)
  - numbers (zero is `False`, else `True`)
  
Several other objects can be evaluated in conditions ...

In [51]:
if fruits:
    print("Fruity")
else:
    print("Nope")

Fruity

... *logic operators* `and`, `or`, `not` can also be used ...

In [ ]:
name = input("Name please :")
if "ana" in name or name == "bob":
    print("Welcome back {}".format(name))
else:
    print("Nice to meet you")

**WHILE**

By now, you can probably guess the syntax:

    while <condition>:
        <block>

In [ ]:
names = []
name = input("Give me a name: ")
while len(name) != 0:
    names.append(name)
    name = input("Give me another name: ")

Give me a name:  ff
Give me another name:  ff
Give me another name:  ff

In [1]:
if names:
    print("Here is the list of names: ", names)
else:
    print("you are so lazy")

NameError: name 'names' is not defined

In [2]:
a = 23
b = 5
c = a
i = 0
while c > b:
    c -= b
    i += 1

print("{} // {} = {}".format(a, b, i))
print(23 // 5)

23 // 5 = 4
4

**FOR**

In Python, the `for` loop is over a "sequence":

    for <name> in <sequence>:
        <block>

In [67]:
students = ['Luis', "Ece", "Rita"]

for st in students:
    print(st)

Luis
Ece
Rita

We can also loop over strings, tuples, or dictionaries:

In [30]:
for c in "Nice day":
    print(c)

N
i
c
e

d
a
y

In [69]:
for x in ("a", "b", 3):
    print(x)

a
b
3

In [70]:
for n in emails:
    print(n, emails[n])

Luis luis@iscte-iul.pt
Rita rita@gmail.com
Pedro pedro@gmail.com

In many other languages, for loops are over integers (0, 1, 2, ... , N). How can we achieve the same in Python?

In [71]:
range(5)

range(0, 5)

In [72]:
for i in range(5):
    print(i, i**2)

0 0
1 1
2 4
3 9
4 16

In [73]:
for i in range(5,10):
    print(i, i**2)

5 25
6 36
7 49
8 64
9 81

**BREAK** and **CONTINUE**

Like in other languages, in a loop `break` exits the loop and `continue` goes to the next iteration immediately:

In [74]:
numbers = [1, 6, -13, -4, 2]

total = 0
n = 0.0

for v in numbers:
    if v < 0:
        continue
    total = total + v
    n += 1
total/n

3.0

## 1.4 FUNCTIONS

In [3]:
def double(x):
    """
    Returns the double of its argument
    """
    return 2 * x

print(double(3))

6

Is that a comment?<br>
It's a documentation string.<br>
Try `double?`

In [4]:
double?

Signature: double(x)
Docstring: Returns the double of its argument
File:      c:\users\ruimc\appdata\local\temp\ipykernel_29912\1339562963.py
Type:      function

Calling a function

In [5]:
a = 4
double(a)

8

In [6]:
b = double(2.3)
b

4.6

In [7]:
c = double(double(a))
c

16

... functions that do not return anything are usually referred as *procedures* ....

In [8]:
def greet(name, greeting = "Hello"):
    print("{} {}".format(greeting, name))

greet("Mario")
greet("Mario", "Goodbye")

Hello Mario
Goodbye Mario

... you can also specify the argument names (and then the order does not matter):

In [9]:
greet(greeting = "Howdy", name = "Mario")

Howdy Mario

This is very helpful for functions with >10 arguments!

## 1.5 CLASSES and OBJECTS

Let us create a class

In [2]:
class MyClass:
  x = 5

We can use this class to create objects

In [3]:
p1 = MyClass()
print(p1.x)

5

Essential information on the behaviors of a class:
- \_\_init\_\_() is executed when the class is instantiated, useful to initialize its state (variables)
- an arbitrary number of methods can be defined to access and modify the state of objects
- \_\_str\_\_() creates a string representation of the object

The *self* parameter is a reference to the current instance of the class and used to access its variables

In [4]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def update_age(self):
    self.age = self.age + 1
      
  def __str__(self):
    return f"{self.name}({self.age})"

p1 = Person("John", 36)
p1.update_age()
print(p1)

John(37)